.advantages {
  padding-top: 32px;
  text-align: center;
}

.advantages_item-icon {
  text-align: left;
  padding: 0 10px 0 69px;
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 70px;
  }
}

.advantages_item-icon:nth-child(1) {
  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages_item-icon--food {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.advantages_item-icon--gift {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.advantages_item-icon--house {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.advantages_item-icon--house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -10px;
  left: 22px;
  background: url(../../img/icon-house.svg.svg) center no-repeat;
  background-size: contain;


  @media (min-width: @tablet-width) {
    width: 75px;
    height: 72px;
    top: -73px;
    left: 59px;
   }
}

.advantages_item-icon--food::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -9px;
  left: 22px;
  background: url(../../img/icon-burger.svg.svg) center no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 77px;
    height: 68px;
    top: -69px;
    left: 128px;
  }
}

.advantages_item-icon--gift::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -12px;
  left: 22px;
  background: url(../../img/icon-gift.svg.svg) center no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 75px;
    top: -76px;
    left: 125px;
  }
}

.advantages_description {
  font-size: 14px;
}

.advantages_promo {
  background-color: @blue;
  /*padding-top: 39px;*/
  color: @white;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}


 .promo_description {
  font-size: 14px;
  line-height: 21px;
}


.advantages_list {
  list-style: none;
  margin: 0;
  padding: 0px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 158px 31px 81px 36px;
  }
}


.advantages_list--grey {
  background-color: @grey;
  padding-top: 26px;
  padding-bottom: 24px;
}


.advantages_start {
  @media (min-width: @tablet-width) {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

.advantages_wrap {
  @media (min-width: @tablet-width) {
    padding: 20px 32px 20px 32px;
  }
}

.advantages_photo {
  @media (min-width: @tablet-width) {
    height: auto;
  }
}
