.button {
  text-decoration: none;
  color: @white;
  background-color: @blue;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
  padding: 14px 32px 14px 32px;

  @media (min-width: @tablet-width) {
    padding: 14px 121px 14px 121px;
  }
}
