.copyright_title {
  position: relative;
  font-size: 14px;
  line-height: 26px;
}

.copyright_title::after {
  position: absolute;
  content: " ";
  width: 27px;
  height: 34px;
  right: 79px;
  background-image: url("../../img/htmlacademy.svg.svg");
}
