.description {
  text-align: center;
}

.gallery_author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.gallery_title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
