.field_label {
  font-size: 14px;
}

.field_input {
  background-color: @grey-input;
  border: none;
  padding: 18px 22px  14px 22px;
  margin-bottom: 20px;
}

.field_input::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: @black;
}
