.main-nav {
  background-color: @white;

}

.main-nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: @blue;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.main-nav_link {
  display: block;
  width: 100%;
  height: 100%;
  color: @white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0;

  @media (min-width: @tablet-width) {
    color: @black;
    font-size: 14px;
  }
}

.main-nav_item {
  border-top: 1px solid rgba(255,255,255,.2);
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.main-nav_item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: 168px;
  }
}

.main-nav_wrapper {
  height: 56px;

  @media (min-width: @tablet-width) {
    width: 723px;
    margin: 0 auto;
    height: 26px;
    padding: 16px 0 14px 0;
  }

  @media (min-width: @desktop-width) {
    width: 1069px;
  }
}

.main-nav_toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--opened .main-nav_toggle {
    top: 17px;
    right: 20px;
    background: url("../../img/icon-cross.svg.svg") 0 0 no-repeat;
  }

  .main-nav_toggle {
    position: absolute;
    width: 23px;
    height: 22px;
    border: 0;
  }

  .main-nav--closed .main-nav_toggle {
    top: 17px;
    right: 20px;
    background: url("../../img/icon-menu.svg.svg") 0 0 no-repeat;
  }

  .main-nav--closed .main-nav_list {
    display: none;
  }
}



