.review-form_title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.review-form_item {
  border: none;
  padding: 0 0 30px 0;
  margin: 0 0 20px 0;
}

.review-form_form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
  }
  @media (min-width: @desktop-width) {
    width: 960px;
    padding: 0 120px;
  }
}

@media (min-width: @tablet-width) {
  .review-form_item--name {
    order: 2;
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .review-form_item--contacts {
    order: 3;
  }
  .review-form_item--impression {
    order: 1;
    flex-basis: 50%;
  }
  .review-form_item--checkbox {
    order: 4;
    flex-basis: 100%;
  }
  .review-form_item--review {
    order: 5;
    flex-basis: 100%;
  }
  .review-form_button {
    order: 6;
    width: 324px;
    padding: 14px 32px 14px 32px;
  }
  .form_legend {
    order: 7;
    margin-left: auto;
  }
 }

 .review-form_title--impression {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
  @media (min-width: @desktop-width) {
    text-align: center;
    margin-bottom: 55px;
  }
 }

 .review-form_title--name {
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 44px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 79px;
    margin-bottom: 54px;
  }
 }

 .review-form_title--checkbox {
  @media (min-width: @tablet-width) {
    width: 308px;
    margin-bottom: 47px;
  }
 }

 @media (min-width: @desktop-width) {
  .review-form_item--contacts {
    width: 100%;
  }
}

.review-form_item--name {
  position: relative;
}

.review-form_item--name::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -63px;
  left: -20px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    width: 1px;
    height: 292px;
  }
}

.review-form_item--contacts {
  position: relative;
}

.review-form_item--contacts::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -73px;
  left: -20px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    top: -33px;
    width: 123px;
    left: 0;
  }
}

.review-form_item--contacts::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -33px;
    width: 123px;
    right: 0;
    height: 1px;
    background-color: @grey;
  }
}

.review-form_item--impression {
  position: relative;
}

.review-form_item--impression::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -73px;
  left: -20px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.review-form_item--checkbox {
  position: relative;
}

.review-form_item--checkbox::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -99px;
  left: -20px;
  background-color: @grey;


  @media (min-width: @tablet-width) {
    top: -76px;
    width: 123px;
    left: 0;
  }
}

.review-form_item--checkbox::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -76px;
    width: 123px;
    right: 0;
    height: 1px;
    background-color: @grey;
  }
}

.review-form_item--review {
  position: relative;
}

.review-form_item--review::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: -72px;
  left: -20px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    top: -33px;
    width: 123px;
    left: 0;
  }
}

.review-form_item--review::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: -33px;
    width: 123px;
    right: 0;
    height: 1px;
    background-color: @grey;
  }
}

.review-form {
  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.form_legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
